/* 資料內容 */
.container{
    width: 100%;
}
.edit {
    position: relative;
    top: 0px;
    width: 100%;
}

/* 表單 */
form {
    padding: 10px;
}

/* 標題 */
.h3Tl {
    margin-left: 25px;
    margin-top: 15px;
    width: 125px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

/* 輸入帳號 */
.account {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
/* 輸入暱稱 */
.nick {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 姓名 */
.name {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 輸入密碼 */
.password {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 確認密碼 */
.chk_password {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 輸入號碼 */
.phone {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 電子信箱 */
.email {
    position: relative;
    left: 100px;
    top: -24px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 編輯 */
.input{
    display: flex;
    justify-content: center
}
input[type="submit"] {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #000000;
    cursor: pointer;
    background: #9effdf;
    font-weight: bold;
    margin: 0 10px;
}

input[type="submit"]:hover {
    background: #8ee8ff;
    font-weight: bold;
    transform: scale(0.9);
}
/* 重填 */
input[type="reset"] {
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #000000;
    cursor: pointer;
    background: #9effdf;
    font-weight: bold;
    margin: 0 10px;
}

input[type="reset"]:hover {
    background: #8ee8ff;
    font-weight: bold;
    transform: scale(0.9);
}