/* 會員中心頁標語 */
.top {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.top span {
    color: #a7a7a7b9;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
}

/* 主內容區塊 */
.main {
    width: 1100px;
    height: 560px;
    margin: 10px auto;
    display: flex;
}

/* 左側選單區 */
.menu {
    width: 200px;
    height: 560px;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -15px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #00aeff;
    border-right: 3px solid #00aeff;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.5s;
}

ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #a7a7a7b9;
    text-shadow: 0.5px 0.5px 0 #ffffff;
    font-weight: 700;
    transition: 0.5s;
    line-height: 18px;
    padding: 10px;
}

ul li a:hover {
    color: #727272;
}

ul li a:hover::before {
    color: #003cbc;
    opacity: 1;
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    /* 右側內容區     */
}

.content {
    width: 900px;
    height: 560px;
    display: flex;
    flex-direction: column;
    background: #72727283;
    border-radius: 10px;
}

/* 右側標題 */
.regform {
    position: relative;
    width: 100%;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 10px;
}