/* 標題 */
.regform {
    position: relative;
    top: 50px;
    width: 800px;
    background: #000000a1;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    border-radius: 15px 15px 0 0;
    letter-spacing: 10px;
    margin: 0 auto;
}

/* 資料內容 */
.main {
    position: relative;
    top: 50px;
    width: 800px;
    background: #00000069;
    margin: 0 auto;
}

/* 表單 */
form {
    padding: 10px;
}

/* 帳號區 */
#account {
    width: 100%;
    height: 70px;
}

/* 標題 */
.h2Tl {
    margin-left: 25px;
    margin-top: 20px;
    width: 125px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

/* 輸入帳號 */
.account {
    position: relative;
    left: 100px;
    top: -26px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 輸入暱稱 */
.nick {
    position: relative;
    left: 480px;
    top: -56px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 暱稱標題 */
.nickLb {
    position: relative;
    left: 160px;
    top: -54px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

/* 輸入姓名 */
.name {
    position: relative;
    left: 100px;
    top: -26px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 輸入密碼 */
.password {
    position: relative;
    left: 100px;
    top: -26px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 確認密碼 */
.chk_password {
    position: relative;
    left: 100px;
    top: -26px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 輸入號碼 */
.phone {
    position: relative;
    left: 100px;
    top: -26px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

/* 輸入電子信箱 */
.email {
    position: relative;
    left: 100px;
    top: -26px;
    line-height: 25px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    width: 625px;
}

/* 確定 */
input[type="submit"] {
    position: relative;
    width: 50px;
    height: 25px;
    left: -330px;
    top: 15px;
    border-radius: 3px;
    border: 1px solid #000000;
    cursor: pointer;
    margin-bottom: 20px;
    background: #9effdf;
    font-weight: bold;
}

input[type="submit"]:hover {
    background: #8ee8ff;
    font-weight: bold;
    transform: scale(0.9);
}
/* 重填 */
input[type="reset"] {
    position: relative;
    width: 50px;
    height: 25px;
    left: -270px;
    top: 15px;
    border-radius: 3px;
    border: 1px solid #000000;
    cursor: pointer;
    margin-bottom: 20px;
    background: #9effdf;
    font-weight: bold;
}

input[type="reset"]:hover {
    background: #8ee8ff;
    font-weight: bold;
    transform: scale(0.9);
}